header {
    background: linear-gradient(35deg, #23698e, black);
    color: white;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 8px;
  }
  
  input {
    width: 100%;
    margin: 2px;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    background: lightblue;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
  }
  
  main {
    display: flex;
    width: 99%;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  #left-col {
    width: 30%;
  }
  
  #right-col {
    width: 65%;
  }
  
  #current-container {
    border: 2px solid black;
    border-radius: 8px;
  }
  
  #five-day-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    border: 2px solid black;
    border-radius: 8px;
    width: 18%;
    background: black;
    color: white;
    padding: 2px;
  }
  
  .favorable {
    color: black;
    background-color: #77dd77;
    width: fit-content;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
  }
  
  .moderate {
    color: black;
    background-color: #fff9a6;
    width: fit-content;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
  }
  
  .severe {
    color: black;
    background-color: #ff6961;
    width: fit-content;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
  }
  